<p><%= form_for @topic do |f| %>
    <%= f.label "Add a Topic" %>
    <%= f.text_field :name %><br>
    <%= f.hidden_field :project_id, value: @project.id %><br>
    <%= f.submit %>
<% end %>
</p>