<%= form_for([@list, @item]) do |f| %>

<p><%= f.label :name %> 
<%= f.text_field :name %></p>
<p><%= f.label :material %>
<%= f.text_field :material %> (such as book, CD, episode of TV, film, etc.)</p>
<p><%= f.label :creator %>
<%= f.text_field :creator %> (primary author or editor)</p>
<p><%= f.label :publication_date %>
<%= f.text_field :publication_date %></p>

<%= f.collection_check_boxes(:source_ids, Source.all, :id, :name) do |b| %>
    <p><%= b.check_box %> <%= b.label %></p>
<% end %>

<br>
<%= f.submit %>
<% end %>